body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #c61d87;
    color: #222;
    text-align: center;
}

.container {
    background-color: #f3dcec;
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
}

input, button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
    border: none;
}

button {
    background-color: #b62488;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #d03c9f;
}

.weather-icon {
    font-size: 60px;
    margin: 20px 0;
}

.speak-btn {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8e2c74;
    color: #fff;
    border: none;
    border-radius: 15px;
}

footer {
    margin-top: 50px;
    font-size: 14px;
    color: #fff;
}
