body {
  font-family: Arial, sans-serif;
  background-color: #d44fa5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 30px;
  background-color: #f3dcec;
  border-radius: 15px;
  text-align: center;
}

input, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
  border-radius: 10px;
  border: none;
}

button {
  background-color: #b42582;
  color: white;
  cursor: pointer;
}

.weather-info {
  margin-top: 20px;
}
